<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
</head>
<body>
    {% extends "template.html" %}
    {% block content %}

    <div class="main row justify-content-center position-relative">
        <div class="col-11">
            <span style="font-size: 24px; padding-right: 6px;" class="align-bottom field-header">About Us</span><br>
            <iframe class="yt-video" src="https://www.youtube.com/embed/uEbp0IxrkqA?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
        </div>
    </div>

    {% endblock %}
</body>
</html>
