<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
</head>
<body>
    {% extends "template.html" %}
    {% block content %}

    <div class="main row justify-content-center position-relative">
        <div class="col-4">
            <div class="comparison-key">
                <div class="row d-flex justify-content-center">
                    <div class="col-10 table-header key-row d-flex justify-content-center">
                        Price Range
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-10 table-row key-row d-flex justify-content-center">
                        est. Total Cost for Trip
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-10 table-row key-row d-flex justify-content-center">
                        est. Stay Length
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-10 table-row key-row d-flex justify-content-center">
                        User Rating
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-10 table-row key-row d-flex justify-content-center">
                        Med Voyage Rating
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-10 table-row key-row d-flex justify-content-center">
                        Patient Responsiveness Dimensions
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-10 table-row key-row d-flex justify-content-center">
                        Government Ranking
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-10 table-row key-row d-flex justify-content-center">
                        Location
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-10 table-row key-row d-flex justify-content-center">
                        est. Wait Time
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-10 table-row key-row d-flex justify-content-center">
                        Specialties of provider
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="row table-header">
                <div class="col-6 d-flex justify-content-center">
                    <span style="font-size: 24px;" class="align-bottom field-header">Medanta Hospital</span>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <span style="font-size: 24px;" class="align-bottom field-header">Apollo Hospital Group</span>
                </div>
            </div>
            <div class="row table-row">
                <div class="col-6 d-flex justify-content-center">
                    $27k - $32k
                </div>
                <div class="col-6 d-flex justify-content-center">
                    $30k - $36k
                </div>
            </div>
            <div class="row table-row">
                <div class="col-6 d-flex justify-content-center">
                    From $30k
                </div>
                <div class="col-6 d-flex justify-content-center">
                    From $32k
                </div>
            </div>
            <div class="row table-row">
                <div class="col-6 d-flex justify-content-center">
                    13 days
                </div>
                <div class="col-6 d-flex justify-content-center">
                    16 days
                </div>
            </div>
            <div class="row table-row">
                <div class="col-6 d-flex justify-content-center">
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                    <i class="far fa-star" style="font-size: 24px;"></i>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                </div>
            </div>
            <div class="row table-row">
                <div class="col-6 d-flex justify-content-center">
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                    <i class="fas fa-star-half-alt" style="font-size: 24px;"></i>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                </div>
            </div>
            <div class="row table-row">
                <div class="col-6 d-flex justify-content-center">
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                    <i class="far fa-star" style="font-size: 24px;"></i>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                </div>
            </div>
            <div class="row table-row">
                <div class="col-6 d-flex justify-content-center">
                    23
                </div>
                <div class="col-6 d-flex justify-content-center">
                    14
                </div>
            </div>
            <div class="row table-row">
                <div class="col-6 d-flex justify-content-center">
                    Gurgaon, India
                </div>
                <div class="col-6 d-flex justify-content-center">
                    Multiple Locations, India
                </div>
            </div>
            <div class="row table-row">
                <div class="col-6 d-flex justify-content-center">
                    2 Weeks
                </div>
                <div class="col-6 d-flex justify-content-center">
                    3 Weeks
                </div>
            </div>
            <div class="row table-row">
                <div class="col-6 d-flex justify-content-center">
                    Heart, Kidney
                </div>
                <div class="col-6 d-flex justify-content-center">
                    Heart, Orthopedics, Gastroenterology, Cancer, Liver, Bariatric
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
</body>
</html>
