<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
</head>
<body>
    {% extends "template.html" %}
    {% block content %}

    <div class="main row justify-content-center position-relative index">
        <img
            class="cover-img align-middle position-absolute"
            src="{{ url_for('static', filename='img/cover.png') }}"
            alt="cover image"
        />
        <div class="col-11 index-form">
            <div class="row justify-content-around index-form-content">
                <div class="col-4">
                    <span class="field-header-white">I am looking for</span>
                    <input class="form-input" type="text" name="username"/>
                </div>
                <div class="col-4">
                    <span class="field-header-white">Location</span>
                    <input class="form-input" type="text" name="username"/>
                </div>
                <div class="col-4">
                    <span class="field-header-white">Dates</span>
                    <input class="form-input" type="text" name="username"/>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-3">
                    <a href="{{ url_for('providers') }}">
                        <button type="submit" class="form-input form-button">
                            Search
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
</body>
</html>
