<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
</head>
<body>
    {% extends "template.html" %}
    {% block content %}

    <div class="main row justify-content-center">
        <div class="col-6">
            <div>
                <form method="post">
                    {% if invalid %}
                        <span class="red-header">
                            Invalid username or password
                        </span>
                        <br>
                    {% endif %}
                    <span class="field-header">Username</span>
                    <input class="form-input" type="text" name="username"/>
                    <span class="field-header">Password</span>
                    <input class="form-input" type="password" name="password"/>
                    <button type="submit" class="form-input form-button">
                        Login
                    </button>
                </form>
            </div>
        </div>
    </div>

    {% endblock %}
</body>
</html>
